.alert{
    margin-top: 1rem;
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}