{% extends "core/base.html" %}

{% block content %}
<h2 class="text-xl font-bold mb-4">Sobre o VerificAI</h2>
<p>
  O VerificAI é um projeto dedicado a combater a desinformação,
  trazendo análises detalhadas sobre notícias falsas, explicando
  suas origens e fornecendo fontes confiáveis.
</p>

<p class="mt-4">
    Você também pode acompanhar nossas verificações pelo Twitter: 
    <a href="https://twitter.com/Ver1ficaibot" target="_blank" class="text-blue-600">
        @Ver1ficaibot
    </a>
</p>
{% endblock %}
